<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1027801259689-srreji3hrve87jpuhfsm8a5dmsom2uiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027801259689-srreji3hrve87jpuhfsm8a5dmsom2uiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDwb_WDJAUSeZT7CiARhRq32r8I3_fMf3I</string>
	<key>GCM_SENDER_ID</key>
	<string>1027801259689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pari.RealmDemo</string>
	<key>PROJECT_ID</key>
	<string>realmdemo-46849</string>
	<key>STORAGE_BUCKET</key>
	<string>realmdemo-46849.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027801259689:ios:fc0f2e2d7da89e32</string>
	<key>DATABASE_URL</key>
	<string>https://realmdemo-46849.firebaseio.com</string>
</dict>
</plist>
